.send-message-form {
  background: var(--send-message-form);
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  height: 60px;
  position: fixed;
  left: 50%;
  bottom: 0;
  margin-left: -45%;
  width: 90%;
  border-radius: 20px;
}

.send-message-form input {
  width: 90%;
  height: 30px;
  padding: 15px 10px;
  border: none;
  margin: 0 auto;
  background: var(--send-message-form);
  font-weight: 200;
}

.send-message-form input:focus {
  outline-width: 0;
}

.send-message-form input::placeholder {
  color: var(--main-text-color);
}

#show-emoji:hover {
  opacity: 1;
  transition-duration: 10ms;
}

#show-emoji {
  font-size: 20px;
  opacity: 0.6;
  position: fixed;
  bottom: 2%;
  margin-left: 6%;
  cursor: pointer;
}

.emoji-table {
  left: 5%;
  position: fixed;
  bottom: 10%;
  opacity: 0.6;
}

.emoji-table:hover {
  opacity: 0.9;

}

.emoji-table-none {
  visibility: hidden;
}

@media (max-width: 400px) {
  #show-emoji {
    font-size: 15px;
    bottom: 3%;
  }
}
