.messages-list {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 25px 6px 0 6px;
  box-sizing: border-box;
  background: var(--secondary-colo);
  overflow: hidden;
}

.message {
  display: flex;
  list-style-type: none;
  margin: 15px 0;
}

.me {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.message-conteiner div:nth-child(1) {
  font-size: 11px;
  color: var(--main-text-color);
  opacity: 0.9;
  margin-bottom: 6px;
}

.message-conteiner div:nth-child(2) {
  background: var(--main-color);
  color: var(--secondary-color);
  display: inline;
  padding: 4px 8px;
  border-radius: 8px;
}

.avatar-activ {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.avatar {
  display: none;
}
